.menu-item {
    align-items: center;
    padding: 8px;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 5px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: inline-flex;
        }
    }

    &:hover {
        background-color: #1b1b1b;
    }
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}

.title {
    margin-left: 10px;
}
