.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    background-color: #2f2f2f;
    padding-left: 16px;
    display: flex;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--text-input);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #cdcdcd;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: #484848;
    }

    &:focus-within {
        border-color: var(--primary);
    }
}

.search-title {
    color: #ffffff80;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    width: 16px;
    height: 16px;
    right: calc(var(--search-button-width) + var(--search-button-width) / 3);
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #767676;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    from {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    background-color: transparent;
    font-size: 1.8rem;
    color: #7b7b7b;

    &:hover {
        cursor: pointer;
        background-color: #373737;
    }

    &:active {
        background-color: #3f3f3f;
    }
}
